{% macro include(file) %}{% include file with context %}{% endmacro -%}
{% set J2 = namespace() -%}
{% set J2.INGRESS_LOAD_BALANCER_URL = env('INGRESS_LOAD_BALANCER_URL', 'UNSPECIFIED') -%}
---
apiVersion: v1
kind: Namespace
metadata:
  name: prod
  labels:
    name: prod
---
{% for DIRECTION in ['north', 'south', 'west', 'east'] %}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ DIRECTION }}-deployment
  namespace: prod
spec:
  selector:
    matchLabels:
      app: {{ DIRECTION }}-app
  replicas: 4
  template:
    metadata:
      labels:
        app: {{ DIRECTION }}-app
    spec:
      containers:
      - name: {{ DIRECTION }}-container
        image: "nazarivato/devops-finals:v1.0"
---
apiVersion: v1
kind: Service
metadata:
  name: {{ DIRECTION }}-service
  namespace: prod
  labels:
    app: {{ DIRECTION }}-app
spec:
  type: ClusterIP
  selector:
    app: {{ DIRECTION }}-app
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
---
{% endfor %}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prod-ingress
  namespace: prod
  annotations:
    # Captured groups ( ) are saved in numbered placeholders, chronologically, in the form $1, $2 ... $n.
    # These placeholders can be used as parameters in the rewrite-target annotation.
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
    - host: {{ J2.INGRESS_LOAD_BALANCER_URL }}
      http:
        paths:
{%
     for MAPPING in [
         {'path': 'images/', 'direction': 'north'},
         {'path': 'open-weather-icons/', 'direction': 'south'},
         {'path': 'stylesheets/', 'direction': 'west'},
         {'path': 'js/', 'direction': 'east'},
         {'path': 'api/', 'direction': 'north'},
         {'path': 'info', 'direction': 'south'},
         {'path': 'tools', 'direction': 'west'},
         {'path': 'monitor', 'direction': 'east'},
    ]
%}
          - path: /({{ MAPPING.path }}.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ MAPPING.direction }}-service
                port:
                  number: 80
{% endfor %}
{% for DIRECTION in ['north', 'south', 'west', 'east'] %}
          - path: /{{ DIRECTION }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ DIRECTION }}-service
                port:
                  number: 80
          - path: /{{ DIRECTION }}/(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ DIRECTION }}-service
                port:
                  number: 80
{% endfor %}
---
